---
import Button from "../common/Button.astro";
import { Image } from "astro:assets";
import bannerImg from "../../assets/images/b1.png";

const {
  topLabel = "Únete a nuestro equipo",
  title = "Inspira tu camino hacia el bienestar",
  description = "Sumate a una comunidad que cree en tu potencial y forma parte de la red de asesores de térbolI Inspira donde tu crecimiento personal y profesional van de la mano.",
  secondaryDescription = "Este es tu momento para inspire, crecer y transformar tu vida.",
  buttonText = "REGISTRARSE COMO PROMOTORA",
  secondaryButtonText = "REGISTRO PROMOTORA",
  buttonHref = "https://terbol.com.bo/#",
  image = bannerImg,
  imageAlt = "Banner image",
} = Astro.props;
---

<section class="banner section-container">
  <div class="container">
    <div class="banner-container">
      <div class="content">
        <div class="title">
          <div class="top-label">{topLabel}</div>
          <h3 set:html={title} />
          {description && <p set:html={description} />}
          {secondaryDescription && <p set:html={secondaryDescription} />}
        </div>
        <Button
          variant="primary"
          size="md"
          class="full"
          target="_blank"
          rel="noopener noreferrer"
          href={buttonHref}>{buttonText}</Button
        >
        <Button
          variant="primary"
          size="sm"
          class="compact"
          target="_blank"
          rel="noopener noreferrer"
          href={buttonHref}>{secondaryButtonText}</Button
        >
      </div>
      <div class="picture">
        <Image src={image} alt={imageAlt} width={700} class="card-img" />
      </div>
    </div>
  </div>
</section>

<style>
  .compact {
    display: none;
  }
  h3 {
    font-size: clamp(32px, 5vw, 50px);
    font-weight: 600;
    color: var(--primary-white);
    line-height: 1.2;
  }

  .banner-container {
    background: var(--primary-black);
    color: var(--primary-white);
    border-radius: 8px;
    overflow: hidden;
    height: 580px;
    display: flex;
    align-items: center;
    padding: 64px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    min-width: 480px;
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .top-label {
    font-family: "Roboto Mono";
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-white);
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .content {
      min-width: inherit;
    }
    .banner-container {
      flex-direction: column;
      height: 900px;
      padding-inline: 48px;
    }

    .compact {
      display: flex;
    }

    .full {
      display: none;
    }
  }

  @media (max-width: 480px) {
    .banner-container {
      padding: 32px;
    }

    .compact {
      width: 100%;
    }
  }
</style>
