---
// OurModel.astro

// Describe el modelo de negocio (por ejemplo B2C) usado por la marca, con
// texto y/o iconografía. Aparece en la landing para educar a potenciales
// promotoras/usuarios.

import Step from "../common/Step.astro";

import s1 from "../../assets/images/image15.png";
import s2 from "../../assets/images/image14.png";
import s3 from "../../assets/images/image16.png";
import s4 from "../../assets/images/image18.png";
import s5 from "../../assets/images/image19.png";
import s6 from "../../assets/images/image20.png";

const steps = [
  {
    number: 1,
    title: "Ganancia por vender",
    description: `
    <b>Tu trabajo tiene valor. Tu pasión también.</b><br>
    Cada Asesor de Ventas Independiente gana entre el <b>25% y el 30%</b> de descuento por cada venta realizada. Esto no solo representa ingresos reales: cada venta es una oportunidad de llevar salud, bienestar y energía a más personas. <br>
    Tú construyes tu cartera de clientes, planificas tus metas y nosotros premiamos tu compromiso con ganancias inmediatas.
    `,
    image: s1,
    reverse: false,
  },
  {
    number: 2,
    title: "Ganancia por Retener: Inspira+",
    description: `
    <b>La clave está en la perseverancia.</b><br>
    Realiza pedidos cada mes y recibe <b> bonificaciones e incentivos diferenciados </b> por tu constancia.<br>
    En <b>térbol Inspira</b> valoramos a quienes cultivan relaciones duraderas, acompañan a sus clientes y mantienen vivo el vínculo.
    Tu compromiso merece ser reconocido.
    `,
    image: s2,
    reverse: true,
  },
  {
    number: 3,
    title: "Bono por Incorporación: Inspira y Gana",
    description: `
    <b>Cuando inspiras, también ganas.</b><br>
    Invita a más personas a unirse a esta gran oportunidad y recibe <b>un bono fijo por cada nuevo integrante que forme parte de nuestra comunidad térbol Inspira.</b><br>
    Cada incorporación es una historia que comienza a transformarse gracias a ti.<br>
    <b>Inspirar a alguien a emprender es sembrar libertad.</b>
`,
    image: s3,
    reverse: false,
  },
  {
    number: 4,
    title: "Bono de Crecimiento: Inspira y Crece ",
    description: `
    <b>Inspirar es el primer paso para crecer.</b><br>
    Al construir tu equipo de ventas y ayudarlo a crecer, recibes <b>un porcentaje de la venta neta comisionable de tu red directa.</b><br>
    Esto no es solo un bono: es el resultado de crear una red sólida, activa y comprometida.<br>
    <b>Cuando tu equipo crece, tú también creces.</b>
`,
    image: s4,
    reverse: true,
  },
  {
    number: 5,
    title: "Bono de Líder en Formación",
    description: `
    <b>Tu camino de liderazgo está comenzando.</b><br>
      Liderar es asumir el compromiso de crecer y, al mismo tiempo, impulsar el crecimiento de tu equipo.<br>
      Al desarrollar una red estable y mantener una evaluación positiva durante dos meses consecutivos, accedes a un bono especial que reconoce tu avance.
      Este bono no solo recompensa resultados, es un reflejo del impacto que empiezas a generar en quienes te rodean.
`,
    image: s5,
    reverse: false,
  },
  {
    number: 6,
    title: "Bono de Liderazgo",
    description: `
    <b>Consolidas tu liderazgo, multiplicas tu impacto.</b><br>
    Al convertirte en Líder, guiando, acompañando y desarrollando una red directa y sólida, ganas a <b>un porcentaje en efectivo de la venta neta comisionable de toda tu red directa.</b><br>
      Tu ejemplo motiva. Tu liderazgo transforma.
      Y en <b>térbol Inspira</b>, celebramos ese camino con reconocimiento y crecimiento.
`,
    image: s6,
    reverse: true,
  },
];
---

<section class="ourModel section-container">
  <div class="container">
    <div class="top">
      <div class="top-label">NUESTRO MODELO DE NEGOCIO</div>
      <h2>
        Aquí, el esfuerzo se convierte en bienestar <br /> para ti y para quienes
        te rodean.
      </h2>
      <p>¡Inspírate! Porque hay seis formas de ganar</p>
    </div>
    <div class="content">
      {
        steps.map((step) => (
          <Step
            number={step.number}
            title={step.title}
            description={step.description}
            image={step.image}
            reverse={step.reverse}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    /* padding-inline: 128px; */
  }

  .top-label {
    font-family: "Roboto";
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 8px;
    color: var(--grey-300);
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
  }

  .top h2 {
    font-weight: 600;
    line-height: 110%;
  }

  .top p {
    font-size: clamp(18px, 2.5vw, 28px);
    font-weight: 600;
    color: var(--grey-900);
    margin-top: 16px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  @media (max-width: 1200px) {
    .container {
      padding-inline: 64px;
    }
  }

  @media (max-width: 1024px) {
    .container {
      padding-inline: 3rem;
    }
  }

  @media (max-width: 768px) {
    .container {
      padding-inline: 2rem;
    }
  }

  @media (max-width: 480px) {
    .container {
      padding-inline: 24px;
    }
  }
</style>
