---
// OurModel.astro

// Describe el modelo de negocio (por ejemplo B2C) usado por la marca, con
// texto y/o iconografía. Aparece en la landing para educar a potenciales
// promotoras/usuarios.

import Step from "../common/Step.astro";

import mMoney2 from "../../assets/images/m-money1.jpg";
import mTest from "../../assets/images/m-test.jpg";
import mWoman from "../../assets/images/m-woman.jpg";
import m4 from "../../assets/images/m4.jpg";
import m5 from "../../assets/images/m5.jpg";
import m6 from "../../assets/images/m6.jpg";

const steps = [
  {
    number: 1,
    title: "Ganancias asesoras de ventas independientes",
    description:
      "Tu trabajo tiene valor. Tu pasión también. Cada Asesora de Ventas gana entre el 25% y el 30% de descuento por cada venta realizada. Esto no solo representa ingresos reales: cada venta es una oportunidad de llevar salud, bienestar y energía a más personas. Tú construyes tu cartera de clientes, planificas tus metas y nosotros premiamos tu compromiso con ganancias inmediatas.",
    image: mMoney2,
    reverse: false,
  },
  {
    number: 2,
    title: "Varas Inspira +",
    description:
      "La clave está en la perseverancia. Realiza pedidos cada mes y recibe bonificaciones e incentivos diferenciados por tu constancia. En térbol I Inspira valoramos a quienes cultivan relaciones duraderas, acompañan a sus clientes y mantienen vivo el vínculo. Tu compromiso merece ser reconocido.",
    image: mTest,
    reverse: true,
  },
  {
    number: 3,
    title: "Bono por incorporación:",
    description:
      "Inspira y Gana Cuando inspiras, también ganas. Invita a más personas a unirse a esta gran oportunidad y recibe un bono f ijo por cada nuevo integrante que forme parte de nuestra comunidad térbol I Inspira. Cada incorporación es una historia que comienza a transformarse gracias a ti. Inspirar a alguien a emprender es sembrar libertad.",
    image: mWoman,
    reverse: false,
  },
  {
    number: 4,
    title: "Bono de crecimiento:",
    description:
      "Inspira y Crece Inspirar es el primer paso. Formar, el segundo Al construir tu equipo de ventas y ayudarlo a crecer, recibes el 2% de la venta neta comisionable de tu red directa. Esto no es solo un bono: es el resultado de crear una red sólida, activa y comprometida. Cuando tu equipo crece, tú también creces.",
    image: m4,
    reverse: true,
  },
  {
    number: 5,
    title: "Bono de Líder en formación:",
    description:
      "El mejor liderazgo es el que inspira a otros a liderar. Cuando una Líder acompaña y forma a nuevas líderes, recibe un bono único por este gran logro. Porque formar líderes es dejar huellas que trascienden generaciones. Inspirar a alguien a liderar su propio negocio es uno de los mayores actos de impacto en la sociedad.",
    image: m5,
    reverse: false,
  },
  {
    number: 6,
    title: "Bono de Liderazgo:",
    description:
      "Consolidas tu liderazgo, multiplicas tu impacto. Al convertirte en Líder, guiando, acompañando y desarrollando una red directa fuerte, accedes a un 10% de la venta neta comisionable de toda tu red directa. Tu ejemplo motiva. Tu liderazgo transforma. Y en Térbol - Inspira, celebramos ese camino con reconocimiento y crecimiento.",
    image: m6,
    reverse: true,
  },
];
---

<section class="ourModel section-container">
  <div class="container">
    <div class="top">
      <div class="top-label">NUESTRO MODELO DE NEGOCIO</div>
      <h2>¡Inspírate! Porque hay seis formas de ganar</h2>
      <p>
        <b>En térbol Inspira</b>, creemos que el verdadero progreso nace del
        reconocimiento. Cada logro se celebra. Cada paso cuenta.
      </p>
    </div>
    <div class="content">
      {
        steps.map((step) => (
          <Step
            number={step.number}
            title={step.title}
            description={step.description}
            image={step.image}
            reverse={step.reverse}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-inline: 128px;
  }

  .top-label {
    font-family: "Roboto Mono";
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 8px;
    color: var(--grey-300);
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  @media (max-width: 1200px) {
    .container {
      padding-inline: 64px;
    }
  }

  @media (max-width: 1024px) {
    .container {
      padding-inline: 3rem;
    }
  }

  @media (max-width: 768px) {
    .container {
      padding-inline: 2rem;
    }
  }

  @media (max-width: 480px) {
    .container {
      padding-inline: 24px;
    }
  }
</style>
