---
import { Image } from "astro:assets";

const {
  number,
  title,
  description,
  image,
  imageAlt = "Step image",
  reverse = false,
} = Astro.props;
---

<div class:list={["row", { reverse }]}>
  <div class="column">
    <div class="step-label">
      {number}
      <div class="line"></div>
    </div>
    <h4 set:html={title} />
    <p set:html={description} />
  </div>
  <div class="picture">
    <div class="overlay"></div>
    <Image src={image} alt={imageAlt} width={600} class="card-img" />
  </div>
</div>

<style>
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 128px;
    align-items: center;
  }

  .row.reverse .picture {
    order: 1;
  }

  .row.reverse .column {
    order: 2;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .step-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
  }

  .line {
    width: 80%;
    height: 1px;
    background-color: var(--color-light-gray);
  }

  h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
  }

  p {
    line-height: 1.6;
  }

  .picture {
    border-radius: 6px;
    overflow: hidden;
    aspect-ratio: 6/4;
    position: relative;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1024px) {
    .row {
      gap: 64px;
    }

    .column {
      gap: 16px;
    }
  }

  @media (max-width: 768px) {
    .row {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .row.reverse .picture {
      order: 2;
    }

    .row.reverse .column {
      order: 1;
    }

    .column {
      gap: 16px;
    }
  }
</style>
